# 统一不同编辑器（VSCode、WebStorm 等）的代码格式，比如缩进、换行符等。
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{ts,js,vue,css}]
indent_size = 2
